In [3]:
import pandas as pd

# Cargar datos (ajusta la ruta si es necesario)
df = pd.read_csv("disasters.csv", parse_dates=["date"])

# Ver las primeras filas
df.head()

,date,country,disaster_type,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days,latitude,longitude
0,2021-01-31,Brazil,Earthquake,5.99,111,7934365.71,15.62,271603.79,83.21,67,-30.613,-122.557
1,2018-12-23,Brazil,Extreme Heat,6.53,100,8307648.99,5.03,265873.81,96.18,55,10.859,-159.194
2,2020-08-10,India,Hurricane,1.55,22,765136.99,32.54,49356.49,60.40,22,0.643,-160.978
3,2022-09-15,Indonesia,Extreme Heat,4.55,94,1308251.31,7.83,237512.88,86.41,47,-33.547,30.350
4,2022-09-28,United States,Wildfire,3.80,64,2655864.36,21.90,188910.69,72.81,42,-19.170,-117.137

In [7]:
cols_interes = [
    "severity_index",
    "casualties",
    "economic_loss_usd",
    "response_time_hours",
    "aid_amount_usd",
    "response_efficiency_score",
    "recovery_days",
]

df[cols_interes].describe()

,severity_index,casualties,economic_loss_usd,response_time_hours,aid_amount_usd,response_efficiency_score,recovery_days
count,50000.000000,50000.000000,5.000000e+04,50000.000000,5.000000e+04,50000.000000,50000.000000
mean,5.015769,100.591140,5.068593e+06,12.183027,2.500003e+05,87.574025,49.682560
std,1.942843,65.052064,3.268541e+06,9.259081,1.432275e+05,10.188961,20.098944
min,1.000000,0.000000,5.273900e+02,1.000000,1.660000e+01,29.750000,2.000000
25%,3.660000,51.000000,2.585513e+06,6.270000,1.429663e+05,83.060000,36.000000
50%,4.990000,91.000000,4.548351e+06,10.510000,2.305365e+05,89.180000,49.000000
75%,6.340000,138.000000,6.950615e+06,15.450000,3.352259e+05,94.700000,63.000000
max,10.000000,524.000000,2.445624e+07,63.100000,1.126465e+06,100.000000,112.000000

In [10]:
paises=df["country"].value_counts()
print(paises)
df["disaster_type"].value_counts(normalize=True) * 100

country
Brazil           2591
Australia        2563
Turkey           2554
Bangladesh       2553
Spain            2543
China            2539
Chile            2529
Nigeria          2528
Germany          2526
India            2509
Greece           2503
Italy            2503
South Africa     2497
Japan            2472
Indonesia        2467
Canada           2438
Philippines      2437
Mexico           2433
United States    2413
France           2402
Name: count, dtype: int64

disaster_type
Landslide            10.260
Earthquake           10.136
Flood                10.078
Hurricane            10.004
Extreme Heat         10.002
Storm Surge           9.976
Volcanic Eruption     9.966
Wildfire              9.908
Tornado               9.878
Drought               9.792
Name: proportion, dtype: float64

In [11]:
casualties_by_type = df.groupby("disaster_type")["casualties"].agg(["count", "sum", "mean"])
casualties_by_type.sort_values(by="sum", ascending=False)

                   count     sum        mean
disaster_type
Landslide           5130  515999  100.584600
Earthquake          5068  506829  100.005722
Storm Surge         4988  505083  101.259623
Tornado             4939  504802  102.207329
Flood               5039  503454   99.911490
Hurricane           5002  501555  100.270892
Wildfire            4954  501444  101.220024
Volcanic Eruption   4983  501022  100.546257
Extreme Heat        5001  497751   99.530294
Drought             4896  491618  100.412173