# Leer archivos con Pandas

In [1]:
import pandas as pd

In [2]:
earthquakes = pd.read_csv('earthquake_1995-2023.csv')
type(earthquakes)

pandas.core.frame.DataFrame

In [3]:
earthquakes

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Asia,Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mw,20.200,-23.0080,169.9000,"Vao, New Caledonia",NaN,NaN
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mw,11.200,-8.3780,125.1270,"Maubara, Timor Leste",NaN,Indonesia
998,"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mw,14.000,40.1490,21.6950,"Aianí, Greece",Europe,Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.000000,0.0,mw,16.000,12.6260,125.2970,"Cabatuan, Philippines",NaN,Philippines

In [4]:
earthquakes.shape

(1000, 19)

In [5]:
earthquakes.columns

Index(['title', 'magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami',
       'sig', 'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
       'longitude', 'location', 'continent', 'country'],
      dtype='object')

In [6]:
earthquakes.head()

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN

In [7]:
earthquakes.head(2)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN

In [8]:
earthquakes.tail(2)

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
998,"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.0,0.0,mw,14.0,40.149,21.695,"Aianí, Greece",Europe,Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.0,0.0,mw,16.0,12.626,125.297,"Cabatuan, Philippines",NaN,Philippines

In [9]:
earthquakes2 = pd.read_csv('earthquake_1995-2023.csv', index_col=0)
earthquakes2

,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
title,,,,,,,,,,,,,,,,,,
"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Asia,Russia
"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mw,20.200,-23.0080,169.9000,"Vao, New Caledonia",NaN,NaN
"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mw,11.200,-8.3780,125.1270,"Maubara, Timor Leste",NaN,Indonesia
"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mw,14.000,40.1490,21.6950,"Aianí, Greece",Europe,Greece
"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.000000,0.0,mw,16.000,12.6260,125.2970,"Cabatuan, Philippines",NaN,Philippines

In [ ]:
earthquakes2.head(2).to_csv('newFile.csv')

OSError: Cannot save file into a non-existent directory: 'files'

In [ ]:
# Acceso no recomendado
earthquakes2.country

title
M 6.5 - 42 km W of Sola, Vanuatu                 Vanuatu
M 6.5 - 43 km S of Intipucá, El Salvador             NaN
M 6.6 - 25 km ESE of Loncopué, Argentina       Argentina
M 7.2 - 98 km S of Sand Point, Alaska                NaN
M 7.3 - Alaska Peninsula                             NaN
                                                ...
M 7.1 - 85 km S of Tungor, Russia                 Russia
M 7.7 - 249 km E of Vao, New Caledonia               NaN
M 6.9 - 27 km NNW of Maubara, Timor Leste      Indonesia
M 6.6 - 10 km W of Aianí, Greece                  Greece
M 7.1 - 14 km NE of Cabatuan, Philippines    Philippines
Name: country, Length: 1000, dtype: object

In [ ]:
# Buena practica
earthquakes2['country']

title
M 6.5 - 42 km W of Sola, Vanuatu                 Vanuatu
M 6.5 - 43 km S of Intipucá, El Salvador             NaN
M 6.6 - 25 km ESE of Loncopué, Argentina       Argentina
M 7.2 - 98 km S of Sand Point, Alaska                NaN
M 7.3 - Alaska Peninsula                             NaN
                                                ...
M 7.1 - 85 km S of Tungor, Russia                 Russia
M 7.7 - 249 km E of Vao, New Caledonia               NaN
M 6.9 - 27 km NNW of Maubara, Timor Leste      Indonesia
M 6.6 - 10 km W of Aianí, Greece                  Greece
M 7.1 - 14 km NE of Cabatuan, Philippines    Philippines
Name: country, Length: 1000, dtype: object

In [ ]:
earthquakes2['country'][2]

/var/folders/yg/4r72jprd3bl4hj1sjpbqrffr0000gq/T/ipykernel_1423/2357946881.py:1: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  earthquakes2['country'][2]

'Argentina'

In [ ]:
earthquakes2.iloc[2]['country']

'Argentina'

In [ ]:
earthquakes2.iloc[0]

magnitude                 6.5
date_time    16-08-2023 12:47
cdi                         7
mmi                         4
alert                   green
tsunami                     0
sig                       657
net                        us
nst                       114
dmin                    7.177
gap                      25.0
magType                   mww
depth                 192.955
latitude             -13.8814
longitude             167.158
location        Sola, Vanuatu
continent                 NaN
country               Vanuatu
Name: M 6.5 - 42 km W of Sola, Vanuatu, dtype: object

In [ ]:
earthquakes2.loc['M 6.9 - 27 km NNW of Maubara, Timor Leste']

magnitude                     6.9
date_time        14-05-1995 11:33
cdi                             0
mmi                             6
alert                         NaN
tsunami                         0
sig                           732
net                            us
nst                             0
dmin                          0.0
gap                           0.0
magType                        mw
depth                        11.2
latitude                   -8.378
longitude                 125.127
location     Maubara, Timor Leste
continent                     NaN
country                 Indonesia
Name: M 6.9 - 27 km NNW of Maubara, Timor Leste, dtype: object

In [ ]:
earthquakes2.columns, earthquakes2.columns.shape

(Index(['magnitude', 'date_time', 'cdi', 'mmi', 'alert', 'tsunami', 'sig',
        'net', 'nst', 'dmin', 'gap', 'magType', 'depth', 'latitude',
        'longitude', 'location', 'continent', 'country'],
       dtype='object'),
 (18,))

In [ ]:
earthquakes2.iloc[:, 17]

title
M 6.5 - 42 km W of Sola, Vanuatu                 Vanuatu
M 6.5 - 43 km S of Intipucá, El Salvador             NaN
M 6.6 - 25 km ESE of Loncopué, Argentina       Argentina
M 7.2 - 98 km S of Sand Point, Alaska                NaN
M 7.3 - Alaska Peninsula                             NaN
                                                ...
M 7.1 - 85 km S of Tungor, Russia                 Russia
M 7.7 - 249 km E of Vao, New Caledonia               NaN
M 6.9 - 27 km NNW of Maubara, Timor Leste      Indonesia
M 6.6 - 10 km W of Aianí, Greece                  Greece
M 7.1 - 14 km NE of Cabatuan, Philippines    Philippines
Name: country, Length: 1000, dtype: object

In [ ]:
earthquakes

,title,magnitude,date_time,cdi,mmi,alert,tsunami,sig,net,nst,dmin,gap,magType,depth,latitude,longitude,location,continent,country
0,"M 6.5 - 42 km W of Sola, Vanuatu",6.5,16-08-2023 12:47,7,4,green,0,657,us,114,7.177000,25.0,mww,192.955,-13.8814,167.1580,"Sola, Vanuatu",NaN,Vanuatu
1,"M 6.5 - 43 km S of Intipucá, El Salvador",6.5,19-07-2023 00:22,8,6,yellow,0,775,us,92,0.679000,40.0,mww,69.727,12.8140,-88.1265,"Intipucá, El Salvador",NaN,NaN
2,"M 6.6 - 25 km ESE of Loncopué, Argentina",6.6,17-07-2023 03:05,7,5,green,0,899,us,70,1.634000,28.0,mww,171.371,-38.1911,-70.3731,"Loncopué, Argentina",South America,Argentina
3,"M 7.2 - 98 km S of Sand Point, Alaska",7.2,16-07-2023 06:48,6,6,green,1,860,us,173,0.907000,36.0,mww,32.571,54.3844,-160.6990,"Sand Point, Alaska",NaN,NaN
4,M 7.3 - Alaska Peninsula,7.3,16-07-2023 06:48,0,5,NaN,1,820,at,79,0.879451,172.8,Mi,21.000,54.4900,-160.7960,Alaska Peninsula,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,"M 7.1 - 85 km S of Tungor, Russia",7.1,27-05-1995 13:03,0,9,NaN,0,776,us,0,0.000000,0.0,mwb,11.000,52.6290,142.8270,"Tungor, Russia",Asia,Russia
996,"M 7.7 - 249 km E of Vao, New Caledonia",7.7,16-05-1995 20:12,0,4,NaN,0,912,us,0,0.000000,0.0,mw,20.200,-23.0080,169.9000,"Vao, New Caledonia",NaN,NaN
997,"M 6.9 - 27 km NNW of Maubara, Timor Leste",6.9,14-05-1995 11:33,0,6,NaN,0,732,us,0,0.000000,0.0,mw,11.200,-8.3780,125.1270,"Maubara, Timor Leste",NaN,Indonesia
998,"M 6.6 - 10 km W of Aianí, Greece",6.6,13-05-1995 08:47,0,9,NaN,0,670,us,0,0.000000,0.0,mw,14.000,40.1490,21.6950,"Aianí, Greece",Europe,Greece
999,"M 7.1 - 14 km NE of Cabatuan, Philippines",7.1,05-05-1995 03:53,0,7,NaN,0,776,us,0,0.000000,0.0,mw,16.000,12.6260,125.2970,"Cabatuan, Philippines",NaN,Philippines

In [ ]:
earthquakes.iloc[995:, 18]

995         Russia
996            NaN
997      Indonesia
998         Greece
999    Philippines
Name: country, dtype: object

In [ ]:
earthquakes.iloc[1:100:2, 18]

1                            NaN
3                            NaN
5                            NaN
7                            NaN
9                            NaN
11                           NaN
13                     Indonesia
15                           NaN
17      Russian Federation (the)
19                     Argentina
21                       Ecuador
23                           NaN
25              Papua New Guinea
27                       Turkiye
29                       Turkiye
31                     Indonesia
33                       Vanuatu
35               Solomon Islands
37                          Fiji
39                           NaN
41                           NaN
43                        Mexico
45                        Taiwan
47                           NaN
49    People's Republic of China
51                   Philippines
53                          Peru
55                     Argentina
57                           NaN
59                        Taiwan
61                     Indonesia
63                           NaN
65                           NaN
67                           NaN
69                           NaN
71                           NaN
73                           NaN
75                     Indonesia
77                          Peru
79      United States of America
81                           NaN
83                        Mexico
85                    Antarctica
87                           NaN
89                           NaN
91                           NaN
93                           NaN
95                           NaN
97                           NaN
99                           NaN
Name: country, dtype: object

In [ ]:
earthquakes.iloc[[0,2,995], 18]

0        Vanuatu
2      Argentina
995       Russia
Name: country, dtype: object

In [ ]:
earthquakes.iloc[-2,18]

'Greece'

In [ ]:
earthquakes.iloc[-10::1, 18]

990    Papua New Guinea
991               Chile
992             Myanmar
993             Vanuatu
994              Greece
995              Russia
996                 NaN
997           Indonesia
998              Greece
999         Philippines
Name: country, dtype: object

In [ ]:
earthquakes2.loc['M 7.1 - 14 km NE of Cabatuan, Philippines', 'country']

'Philippines'

In [ ]:
earthquakes2.loc['M 7.1 - 85 km S of Tungor, Russia':, ['country', 'magnitude', 'location', 'date_time']]

,country,magnitude,location,date_time
title,,,,
"M 7.1 - 85 km S of Tungor, Russia",Russia,7.1,"Tungor, Russia",27-05-1995 13:03
"M 7.7 - 249 km E of Vao, New Caledonia",NaN,7.7,"Vao, New Caledonia",16-05-1995 20:12
"M 6.9 - 27 km NNW of Maubara, Timor Leste",Indonesia,6.9,"Maubara, Timor Leste",14-05-1995 11:33
"M 6.6 - 10 km W of Aianí, Greece",Greece,6.6,"Aianí, Greece",13-05-1995 08:47
"M 7.1 - 14 km NE of Cabatuan, Philippines",Philippines,7.1,"Cabatuan, Philippines",05-05-1995 03:53

In [ ]:
earthquakes2['country'] == 'Mexico'

NameError: name 'earthquakes2' is not defined

In [ ]:
temblores_mexico = earthquakes2.loc[earthquakes2['country'] == 'Mexico']
temblores_mexico

NameError: name 'earthquakes2' is not defined

In [ ]:
temblores_mexico.shape

NameError: name 'temblores_mexico' is not defined

In [ ]:
(earthquakes2['country'] == 'Mexico') & (earthquakes2['magnitude'] >= 7.5)

In [ ]:
temblores_mexico_mayores7 = earthquakes2.loc[(earthquakes2['country'] == 'Mexico') & (earthquakes2['magnitude'] >= 7.5) ]
temblores_mexico_mayores7.shape

In [ ]:
temblores_mexico_mayores7

In [ ]:
temblores_espana_mayores7 = earthquakes2.loc[(earthquakes2['country'] == 'Spain') | (earthquakes2['magnitude'] >= 9.0) ]
temblores_espana_mayores7

In [ ]:
temblores_en_america_norte = earthquakes2.loc[earthquakes2['country'].isin(['Mexico', 'Canada', 'United States of America']) ]
temblores_en_america_norte.shape

In [ ]:
temblores_en_america_norte[temblores_en_america_norte['country'] == 'Mexico'].shape

In [ ]:
temblores_con_pais = earthquakes2.loc[earthquakes2['country'].notnull()]
temblores_con_pais.shape

In [ ]:
temblores_sin_pais = earthquakes2.loc[earthquakes2['country'].isnull(), ['location', 'country']]
temblores_sin_pais