In [2]:
import pandas as pd

df = pd.DataFrame({
    "Alumno": ["Juan","María","Pedro","Ana","Luis",
            "Sofía","Carlos","Rosa","Miguel","Laura"],
    "Matemáticas": [85,92,78,88,90,95,73,89,84,91],
    "Inglés":      [80,94,82,86,88,90,75,87,83,92],
    "Historia":    [90,88,85,91,87,93,79,90,88,89],
    "Ciencias":    [88,96,81,89,92,94,76,90,85,93],
    "Arte":        [92,90,80,85,88,91,78,86,82,90],
})
# Mostrar el DataFrame  
print(df)

   Alumno  Matemáticas  Inglés  Historia  Ciencias  Arte
0    Juan           85      80        90        88    92
1   María           92      94        88        96    90
2   Pedro           78      82        85        81    80
3     Ana           88      86        91        89    85
4    Luis           90      88        87        92    88
5   Sofía           95      90        93        94    91
6  Carlos           73      75        79        76    78
7    Rosa           89      87        90        90    86
8  Miguel           84      83        88        85    82
9   Laura           91      92        89        93    90

In [ ]:
# 	Mostrar la calificación de Juan en Matemáticas.
#solucion c usa .loc con una condición sobre 'Alumno' y selecciona 'Matemáticas'

juan_mate =  df.loc[df['Alumno'] == 'Juan', 'Matemáticas'].iloc[0]
juan_mate

np.int64(85)

In [6]:
	# Obtener las calificaciones de todos en Inglés.
# Tip: selecciona la columna por nombre directamente

ingles = df['Inglés']
print(ingles)

0    80
1    94
2    82
3    86
4    88
5    90
6    75
7    87
8    83
9    92
Name: Inglés, dtype: int64

In [8]:
# Mostrar todas las calificaciones de María 
maria1 = df.loc[df['Alumno'] == 'María']
print(maria1)

  Alumno  Matemáticas  Inglés  Historia  Ciencias  Arte
1  María           92      94        88        96    90

In [ ]:
# Mostrar todas las calificaciones de María combinación de condición NOT  slicing de columnas
maria = df.loc[df['Alumno'] == 'María', df.columns != 'Alumno']
print(maria)

   Matemáticas  Inglés  Historia  Ciencias  Arte
1           92      94        88        96    90

In [10]:
# Listar los alumnos con ≥ 90 en Historia, mostrando nombre y calificacion.
hist90 = df.loc[df['Historia'] >= 90, ['Alumno', 'Historia']]
print(hist90)

  Alumno  Historia
0   Juan        90
3    Ana        91
5  Sofía        93
7   Rosa        90

In [11]:
# 	Calcular la media(promedio) de Ciencias y filtrar quiénes están por encima.
# solcuion usa .mean() y compara la columna
media = df['Ciencias'].mean()
ciencias_top = df.loc[df['Ciencias'] > media, ['Alumno', 'Ciencias']]
print(ciencias_top)

  Alumno  Ciencias
1  María        96
3    Ana        89
4   Luis        92
5  Sofía        94
7   Rosa        90
9  Laura        93

In [12]:
#seleccionar Juan y María mostrando solo Inglés y Arte. loc, isin() para varios nombres
sel = df.loc[df['Alumno'].isin(['Juan','María']), ['Inglés','Arte']]
print(sel)

   Inglés  Arte
0      80    92
1      94    90

In [ ]:
#mostrar la 4.ª fila completa  iloc, empeiza en ceros 
fila4 = df.iloc[3]
print(fila4)
#la fila 4 resulta ser ANA

Alumno         Ana
Matemáticas     88
Inglés          86
Historia        91
Ciencias        89
Arte            85
Name: 3, dtype: object

In [4]:
#extraer las primeras 3 filas y las últimas 2 columnas.
subtraccion= df.iloc[0:3, -2:]
subtraccion

   Ciencias  Arte
0        88    92
1        96    90
2        81    80

In [14]:
# asignación condicional
# #(.loc) Cambiar Historia de Carlos a 81 y de Rosa a 92
df.loc[df['Alumno'] == 'Carlos', 'Historia'] = 81
df.loc[df['Alumno'] == 'Rosa', 'Historia'] = 92
print(df[['Alumno', 'Historia']])

   Alumno  Historia
0    Juan        90
1   María        88
2   Pedro        85
3     Ana        91
4    Luis        87
5   Sofía        93
6  Carlos        81
7    Rosa        92
8  Miguel        88
9   Laura        89